<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<!--<link rel="shortcut icon" type="image/ico" href="http://www.datatables.net/favicon.ico" />-->
		
		<title>Summary</title>
		
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
		<link rel="stylesheet" type="text/css" href="./static/beautiful_tables_css/complete.css">
		
		<script type="text/javascript" language="javascript" src="./static/jquery.js"></script>
		<script type="text/javascript" language="javascript" src="http://live.datatables.net/media/js/jquery.dataTables.js"></script>
		<script type="text/javascript" charset="utf-8">
			/* Formatted numbers sorting */
			$.fn.dataTableExt.oSort['formatted-num-asc'] = function(x,y){
	 			x = parseInt( x.replace(/[^\d\-\.\/]/g,'') );
	 			y = parseInt( y.replace(/[^\d\-\.\/]/g,'') );
				return x - y;
			}
			$.fn.dataTableExt.oSort['formatted-num-desc'] = function(x,y){
	 			x = parseInt( x.replace(/[^\d\-\.\/]/g,'') );
	 			y = parseInt( y.replace(/[^\d\-\.\/]/g,'') );
				return y - x;
			}
			
			/* Initialisation */
			$(document).ready(function() {
				$('#example').dataTable( {
					"iDisplayLength": 20,
					"aLengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]],
					"sPaginationType": "full_numbers",
					"aoColumnDefs": [ {
						"sType": "formatted-num",
						"aTargets": [
									{% for th in tableheaders|slice:"1:" %}
    									{{ forloop.counter }},
									{% endfor %}
									]
					} ]
				} );
			} );
		</script>
		<script type="text/javascript" src="./static/json2.js"></script>
		<script type="text/javascript" src="./static/serverwrapper.js"></script>
		<script type="text/javascript" charset="utf-8">
		
			// Server object that will contain the callable methods
    		var server = {};
    		
    		InstallFunction(server, 'refreshGallery');
    		// Client function that calls a server rpc and provides a callback
    		function doRefreshGallery(keyid,name,country,city,zipcode,adress,web,email)
    		{
    			server.refreshGallery(keyid,name,country,city,zipcode,adress,web,email,onRefreshGalleryEnd);
    		}
    		// Callback for after a success
    		function onRefreshGalleryEnd(response)
    		{
    			if (response != "ok")
    			{
    				alert(response);
    			}
    		}
			
			$("input[type=text]").live("blur", function() {
				var value = $.trim($(this).val());
				var old_value = $(this).data("old_value");
				if (value == old_value) return;
				
				var $tr = $(this).parents("tr");
				var $th = $tr.find("th").eq(0);
				var $inputs = $tr.find("input[type=text]");
				doRefreshGallery(parseInt($th.text()), $inputs.eq(0).val(), $inputs.eq(1).val(), $inputs.eq(2).val(), $inputs.eq(3).val(), $inputs.eq(4).val(), $inputs.eq(5).val(), $inputs.eq(6).val());
			});
			
			$("input[type=text]").live("focus", function() {
				$(this).data("old_value", $.trim($(this).val()));
			});
		</script>
	</head>
	<body id="dt_example">
		<div id="container">
			
			<br>
			<br>
			
			<table id="example" border="0" cellpadding="0" cellspacing="0" class="pretty">
				<thead>
					<tr>
						<th colspan="1" rowspan="2">{{ tableheaders|first }}</th>
						<th colspan="{{ tableheaders|slice:"1:"|length }}">{{ tabledescription }}</th>
					</tr>
					<tr>
						{% for header in tableheaders|slice:"1:" %}
							<th>{{header}}</th>
						{% endfor %}
					</tr>
				</thead>
				<!--<tfoot>
					<tr>
						<th scope="row">Total</th>
						{% for header in tableheaders %}
							<td>{{header}}</td>
						{% endfor %}
					</tr>
				</tfoot>-->
				<tbody>
					{% for row in tablerows %}
						<tr>
							<th scope="row">{{ row|first }}</th>
							{% for value in row|slice:"1:" %}
								<td class="value"><input type=text value="{{value}}"/></td>
							{% endfor %}
						</tr>
					{% endfor %}
					
				</tbody>
			</table>

		</div>
	</body>
</html>